#map-marker-fixed {
  .error {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: red;

    h1 {
      text-align: center;
      font-size: 60px;
    }

    p {
      font-size: 25px;
      text-align: center;
      margin: 0 5px;
    }
  }

  .listadoubicaciones {
    height: 100vh;
    background: #fff;
  }

  .buscador {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
  }

  #gmapfixed:after {
    width: 22px;
    height: 40px;
    display: block;
    content: ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -11px;
    background: url("https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi_hdpi.png");
    background-size: 22px 40px;
    /* Since I used the HiDPI marker version this compensates for the 2x size */
    pointer-events: none;
    /* This disables clicks on the marker. Not fully supported by all major browsers, though */
  }
}

.toast {
  text-align: center;
}
