<!-- Generated template for the MapMarkerFixedComponent component -->

<div id="map-marker-fixed">

  <div class="buscador">
    <ion-searchbar [(ngModel)]="direccion" [showCancelButton]="true" (ionInput)="updateSearch()" (click)="mostrarListadoUbicacion()" placeholder="Comience a escribir o seleccione ..." id="inputsearchbar">
    </ion-searchbar>
    <ion-item-group *ngIf="listadoubicaciones" class="listadoubicaciones">

      <ion-item *ngFor="let item of autocompleteItems" (click)="onSelectChange(item,'navegacion')">
        <ion-icon name="navigate" item-start color="primary"></ion-icon>
        {{ item.description }}
      </ion-item>

      <ion-item (click)="fijarUbicacion()">
        <ion-icon name="locate" item-start color="primary"></ion-icon>
        Fijar ubicación en el mapa
      </ion-item>

      <ion-item-divider color="light"> Mis Ubicaciones</ion-item-divider>
      <ion-item *ngFor="let ubicacion of ubicaciones ; let i = index" (click)="onSelectChange(i)">
        <ion-icon name="pin" item-start color="primary"></ion-icon>
        <h4>{{ ubicacion.titulo }}</h4>
        <p>{{ ubicacion.direccion }}</p>
        <p>{{ ubicacion.complemento }}</p>
      </ion-item>
    </ion-item-group>
  </div>
  <!--  height: calc(100vh - 50px - 50px);-->
  <div style="height:500px:background-color:#000" [ngStyle]="{'display': coordenadas.error ==false ? 'block' : 'none' }">
    <div #gmapfixed id="gmapfixed" style="height:100vh;"></div>
  </div>

  <div class="error" *ngIf="coordenadas.error == true">
    <div>
      <h1>: (</h1>
      <p>No se pudo encontrar la ubicación.</p>
    </div>
  </div>
</div>
