<ion-header no-border>
  <ion-buttons end>
    <button ion-button icon-only clear color="white" (click)="cerrarLogin()">
          <ion-icon name="close"></ion-icon>
      </button>
  </ion-buttons>
</ion-header>

<!-- Content Options -->
<ion-content id="login-v1">

  <!-- Logo -->
  <div class="logo animated fadeInDown">
    <img [src]="CONFIG.LOGO">
    <h2>{{ CONFIG.APP_NAME }}</h2>
  </div>

  <!-- Main Body -->
  <div class="main-body animated zoomIn" padding>
    <form [formGroup]="myForm" (ngSubmit)="saveData()">
      <ion-list>
        <!-- Username -->
        <ion-item>
          <ion-label>
            <ion-icon name="md-mail"></ion-icon>
          </ion-label>
          <ion-input formControlName="email" [(ngModel)]="camposLogin.email" class="ion-ios-locked-outline" type="email" placeholder="Correo electrónico" name="email"></ion-input>
        </ion-item>

        <div class="error-box" *ngIf="myForm.controls.email.hasError('email') && myForm.controls.email.touched">
          <p>Correo electrónico inválido</p>
        </div>

        <!-- Password -->
        <ion-item>
          <ion-label>
            <ion-icon name="md-eye"></ion-icon>
          </ion-label>
          <ion-input formControlName="password" [(ngModel)]="camposLogin.password" class="ion-ios-locked-outline" type="password" placeholder="Contraseña" name="password"></ion-input>
        </ion-item>

        <div class="error-box" *ngIf="myForm.controls.password.hasError('required') && myForm.controls.password.touched">
          <p>Ingrese Contraseña</p>
        </div>
      </ion-list>

      <div padding class="animated fadeInUp">
        <!-- Login Button -->
        <button ion-button type="button" [disabled]="!myForm.valid" color="themeColor1" block (click)="login()">
           Iniciar Sesión
        </button>

      </div>
    </form>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <!-- Forget Password Button -->
          <button ion-button clear color="white" (click)="showForgetPasswordPopup()">
            ¿Olivido Cuenta?
          </button>
        </ion-col>
        <ion-col col-6>
          <button ion-button clear color="white" [navPush]="registro">
            Crear Cuenta
          </button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <button ion-button color="white" block>
            <ion-icon name="logo-facebook" style="zoom:2.0"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-6>
          <button ion-button icon-only color="white" block>
            <ion-icon name="logo-twitter"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
