<!--
  Generated template for the AgregarMedioPagoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Nuevo Medio Pago</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>
    <img [src]="cardImage" />
    <ion-fab right class="pop-in" [ngClass]="{'pop-out': fabGone}" style="top: 18rem;">
      <button ion-fab mini (click)="scanCard()" color="dark"><ion-icon name="camera"></ion-icon></button>
    </ion-fab>
  </div>

  <!-- <form [formGroup]="myForm" (ngSubmit)="saveData()" *ngIf="card.cardType!=null"> -->
  <form [formGroup]="myForm" (ngSubmit)="saveData()">
    <div>
      <ion-item>
        <ion-label stacked>Franquicia</ion-label>
        <ion-input type="tel" formControlName="cardType" placeholder="" [(ngModel)]="card.cardType" requerid></ion-input>

      </ion-item>
      <ion-item>
        <ion-label stacked>Nombre del titular</ion-label>
        <ion-input type="text" formControlName="cardholderName" [(ngModel)]="card.cardholderName" requerid></ion-input>
      </ion-item>
      <ion-row>
        <ion-item col-8>
          <ion-label stacked>Número de tarjeta</ion-label>
          <ion-input type="text" formControlName="cardNumber" [(ngModel)]="card.cardNumber" requerid></ion-input>
        </ion-item>
        <ion-item col-4>
          <ion-label stacked>CVV</ion-label>
          <ion-input type="text" formControlName="cvv" [(ngModel)]="card.cvv" requerid></ion-input>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item col-6>
          <ion-label stacked>Año</ion-label>
          <ion-input type="text" formControlName="expiryYear" [(ngModel)]="card.expiryYear" requerid></ion-input>
        </ion-item>
        <ion-item col-6>
          <ion-label stacked>Mes</ion-label>
          <ion-input type="tel" autocomplete="cc-exp" id="cc-exp" ccExp [(ngModel)]="card.expiryMonth" formControlName="expiryMonth" requerid number></ion-input>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item col-12>
          <div class="invalid" color="danger" *ngIf="myForm.controls.cvv.invalid &&myForm.controls.cvv.touched"> Código CVV invalido </div>
        </ion-item>
      </ion-row>




      <div padding>
        <button ion-button block type="submit" [disabled]="!myForm.valid">Guardar</button>
      </div>
    </div>
  </form>

</ion-content>
