page-detalle-sesion {
  .custom {
    .toolbar-background {
      background-color: #000 !important;
    }
  }


  .sesionInfo {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10;
      width: 100%;
      background: rgba(76, 175, 80, 0.5);
      p{
        font-size: 15px;
        text-align: center;
        font-weight: bold;
      }
  }

  .sesionnoIniciada{
    p{
      color:#FF0000;
    }
  }


  .map {
    width: 100%;
    height: calc(100vh - 100px);
  }

  ion-card.adv-map p {
    font-size: 0.7em !important;
  }

  button[fab].fab-map {
    top: calc(100% - 35px);
    z-index: 50;
  }

  .item-bold {
    font-weight: bold;
  }

  ion-content.cards-bg {
    background-color: #f4f4f7;
  }

  .fab {
    contain: initial;
  }

  ion-fab {
    ion-fab-list button[ion-fab] {
      overflow: visible;

      div.label {
        position: absolute;
        right: 48px;
        background: rgba(0,0,0,0.7);
        height: 24px;
        line-height: 16px;
        padding: 5px 8px;
        border-radius: 3px;
        color: #fff;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
      }
    }
  }
}
