<ion-header>
  <ion-navbar no-shadow no-border>
    <ion-buttons left>
      <button ion-button color="light" menuToggle icon-only>
              <ion-icon name="menu"></ion-icon>
            </button>
    </ion-buttons>
    <ion-title>
       Categorias
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content text-center>
  <ion-grid>
  <ion-row *ngFor="let items of _categoriasPrvdr.chunkCategorias">
    <ion-col text-center  *ngFor="let cat of items" (click)="irServicios(cat)">
      <!-- <ion-img width="50" height="50" [src]="cat.imagePath"></ion-img> -->
      <!-- <img-loader width="50px" height="50px" display="inline-block"  [src]="categoria['imagePath']" ></img-loader> -->
      <img width="50" height="50" [src]="cat['imagePath']" alt="">
      <p>{{cat["nombre"]}}</p>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
