<ion-header>
  <ion-navbar no-shadow no-border>
    <ion-buttons left>
      <button ion-button color="light" menuToggle icon-only>
              <ion-icon name="menu"></ion-icon>
            </button>
    </ion-buttons>
    <ion-title>
       Categorias
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content text-center>
  <ion-grid>
  <ion-row *ngFor="let items of _categoriasPrvdr.chunkCategorias">
    <ion-col text-center  *ngFor="let categoria of items" (click)="irServicios(categoria)">
      <!-- <ion-img width="70" height="70" [src]="categoria.imagePath"></ion-img> -->
      <img width="70" height="70" [src]="categoria.imagePath" [alt]="categoria.nombre">
      <p>{{categoria.nombre}}</p>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
