<!-- Generated template for the ProximaSesionComponent component -->
<ion-card>
  <ion-card-header>
    Proxima sesión
  </ion-card-header>
  <ion-list>
    <ion-item>
      <ion-icon name="calendar" item-start color="primary"></ion-icon>
      <h2>Cuando </h2>
      <p>{{ sesion.fechaInicio|amCalendar }} </p>
    </ion-item>
    <ion-item>
      <ion-icon name="pin" item-start color="primary"></ion-icon>
      <h2>Donde </h2>
      <p>{{ sesion.ubicacion.title }} </p>
    </ion-item>
    <ion-item text-center>
      <button ion-button (click)="clickBotonDetalleSesion()">Ver detalle</button>
    </ion-item>
  </ion-list>
</ion-card>
