<!--
  Generated template for the ModalUbicacionesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Selecciona ubicación</ion-title>
  </ion-navbar>

</ion-header>

<!-- *ngIf="asociados.length" -->
<!-- [ubicaciones]="_ubicacionesPrvdr.ubicaciones" -->
<ion-content>
  <xph-map
  [ubicaciones]="_ubicacionesPrvdr.ubicaciones"
  [zona]="_asociadosPrvr.zonasServicio"
  [zoom]=12
  [listadoubicaciones]=false
  [PrestadoresPorZona]="_asociadosPrvr.prestadorSesvicioZona"
  (getCoordenadas)="coordenadas($event)">
  </xph-map>

  <div class="boton-mapa">
    <button ion-button icon-only large full (click)="continuar(asociados)" *ngIf="mosatarBotonMapa == true">
      <ion-icon name="redo"></ion-icon>
      Continuar
      &nbsp;&nbsp;
    </button>
  </div>
</ion-content>

<!-- próximamente los mejores profesionales -->
