<!--
  Generated template for the MetodosPagosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Metodos de pagos</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-list radio-group [(ngModel)]="autoManufacturers">
  <div *ngIf="cards.length == 0" id="sindatos"> Sin medio de pagos registrado ... </div>

    <ion-item *ngFor="let card of cards">
      <ion-label>
          {{ card.cardType }}
         {{ card.redactedCardNumber }}</ion-label>
      <ion-radio [value]="card"></ion-radio>
    </ion-item>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="agregarMedioPago()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
<ion-footer>
  <ion-toolbar  color="primary">
    <button ion-button clear full icon-start color="light">
      Pagar
    </button>
  </ion-toolbar>
</ion-footer>
