<!-- Generated template for the CalificarComponent component -->
<form [formGroup]="todo" (ngSubmit)="onClick()">
<ion-card>
  <!-- <ion-card-content> -->
  <ion-item text-center text-wrap >
    <h2>¿Como te fue con {{ prestador }} {{ fechaInicio|amCalendar }}? </h2>
    <div>
      <ion-avatar>
        <img class="avatar-img-cien center" [src]="prestadorImagenPath|pathImagen">
      </ion-avatar>
    </div>

    <rating formControlName="calificacion" ></rating>

  </ion-item>
  <div padding *ngIf="todo.valid">
    <ion-item>
      <ion-label stacked>{{titulo}}</ion-label>
      <ion-textarea formControlName="comentario" [attr.maxlength]="comentarioMaxlength" ></ion-textarea>
    </ion-item>
    <ion-item>
      <button ion-button>Enviar</button>
    </ion-item>
  </div>
  <!-- </ion-card-content> -->
</ion-card>
 </form>
