page-programar-sesion {
  .boton-mapa {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
  }

  h3 {
    padding: 0 16px;
  }

  .calendar-event-inner,
  .monthview-primary-with-event {
    background-color: #488aff !important;
    color: white;
  }

  .monthview-current {
    background-color: #32db64 !important;
    color: white;
  }
}
