page-programar-sesion {
  agm-map {
    height: 300px;
  }
  h3{
    padding: 0 16px 0 16px;
  }
.monthview-primary-with-event, .calendar-event-inner {
    background-color:#488aff !important;
    color: white;
}
.monthview-current {
  background-color: #32db64 !important;
  color: white;
}
}
