<ion-header no-border>
  <ion-navbar transparent color="primary">

  </ion-navbar>

</ion-header>

<!-- Content Options -->
<ion-content id="registration-v1">



  <!-- Logo -->
  <div class="logo animated fadeInDown">
    <img [src]="CONFIG.LOGO">
    <h2>{{ CONFIG.APP_NAME }}</h2>
  </div>

  <!-- Main Body -->
  <div class="main-body animated zoomIn" padding>
    <form [formGroup]="myForm" (ngSubmit)="registroUsuario(formulario)">
      <ion-list>
        <!-- Email -->
        <ion-item>
          <ion-label>
            <ion-icon name="md-mail"></ion-icon>
          </ion-label>
          <ion-input class="ion-ios-locked-outline" type="email" placeholder="Correo Electrónico" name="email" formControlName="email"></ion-input>
        </ion-item>
        <div class="error-box" *ngIf="myForm.controls.email.hasError('email') && myForm.controls.email.touched">
          <p>Correo electrónico inválido</p>
        </div>

        <!-- Password -->
        <ion-item>
          <ion-label>
            <ion-icon name="md-eye"></ion-icon>
          </ion-label>
          <ion-input class="ion-ios-locked-outline" type="password" placeholder="Contraseña" name="passw" formControlName="passw"></ion-input>
        </ion-item>
        <div class="error-box" *ngIf="myForm.controls.passw.hasError('required') && myForm.controls.passw.touched">
          <p>Contraseña es obligatorio</p>
        </div>
        <!-- Confirm Password -->
        <ion-item>
          <ion-label>
            <ion-icon name="md-eye"></ion-icon>
          </ion-label>
          <ion-input class="ion-ios-locked-outline" type="password" placeholder="Repita Contraseña" name="repassw" formControlName="repassw"></ion-input>
        </ion-item>
        <div class="error-box" *ngIf="myForm.errors?.mismatchedPasswords && myForm.controls.repassw.touched">
          <p>Contraseña y Repita contraseña no coinciden</p>
        </div>
        <!-- Buttons -->
        <div class="buttons animated fadeInUp">
          <button ion-button type="submit" color="primary" block [disabled]="!myForm.valid">
            Crear Cuenta
          </button>
        </div>

        <ion-row>
          <ion-col col-6>
            <button ion-button color="white" block>
              <ion-icon name="logo-facebook" style="zoom:2.0"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-6>
            <button ion-button icon-only color="white" block>
              <ion-icon name="logo-twitter"></ion-icon>
            </button>
          </ion-col>
        </ion-row>

      </ion-list>
    </form>

  </div>
</ion-content>
