<ion-header no-border>
  <ion-navbar transparent color="primary">
  </ion-navbar>

</ion-header>

<!-- Content Options -->
<ion-content id="registration-v1">

  <!-- Logo -->
  <div class="logo animated fadeInDown">
    <img [src]="CONFIG.LOGO ">
    <h2>{{ CONFIG.APP_NAME }}</h2>
  </div>

  <!-- Main Body -->
  <div class="main-body animated zoomIn" padding>
    <form [formGroup]="myForm" (ngSubmit)="activarUsuario(formulario)">
      <ion-list>
        <ion-item>
          <ion-input class="ion-ios-locked-outline" type="text" placeholder="Correo electrónico" formControlName="email" [value]="_usuariosPrvdr.infoRegistro" [(ngModel)]="camposForm.email"></ion-input>
        </ion-item>
        <div class="error-box" *ngIf="myForm.controls.email.hasError('email') && myForm.controls.email.touched">
          <p>Correo electrónico inválido</p>
        </div>
        <ion-item>
          <ion-input class="ion-ios-locked-outline" type="text" placeholder="Código de Activación" formControlName="codigo" [(ngModel)]="camposForm.codigo"></ion-input>
        </ion-item>
        <div class="error-box" *ngIf="myForm.controls.codigo.hasError('required') && myForm.controls.codigo.touched">
          <p>Correo electrónico inválido</p>
        </div>
        <!-- Buttons -->
        <div class="buttons animated fadeInUp">
          <button ion-button type="button" color="primary" block (click)="activarCuenta()"  [disabled]="!myForm.valid">
              Activar Cuenta
          </button>
        </div>

      </ion-list>
    </form>

  </div>
</ion-content>
