<!--
  Generated template for the UbicacionesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle icon-only>
              <ion-icon name="menu"></ion-icon>
            </button>
    </ion-buttons>

    <ion-title>Ubicaciones</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <xph-map-marker-fixed
  *ngIf="mostrarmapa"
  [ubicaciones]="_ubicacionesPrvdr.ubicaciones"
  (getCoordenadas)="coordenadas($event)">
  </xph-map-marker-fixed>

  <div class="boton-mapa">
    <ion-grid class="reset">
      <ion-row *ngIf="!mostrarBorrar">
        <ion-col col-12 class="reset">
          <button ion-button block (click)="guardar()" full>Continuar</button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="mostrarBorrar">
        <ion-col col-06 class="reset">
          <button ion-button block (click)="eliminar()" color="danger" full>Borrar</button>
        </ion-col>
        <ion-col col-06 class="reset">
          <button ion-button block (click)="guardar()" full>Continuar</button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>
