<ion-header no-border>
  <ion-navbar transparent color="primary">
    <ion-title >{{ categoria.nombre }}</ion-title>
    <ion-buttons left>
      <button ion-button color="light" menuToggle icon-only>
              <ion-icon name="menu"></ion-icon>
            </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content fullscreen="true" class="no-padding-top">
  <ion-slides #slider pager="true" (ionSlideWillChange)="onSlideChanged()">
    <ion-slide *ngFor="let servicio of _serviciosPrvdr.servicios" class="slide-background item-trns"
    [ngStyle]="{'background-image': 'url(' + servicio.imagePath +')'}">
      <div class="text-wrapper">
        <div class="slide-text">
          <h2 class="slide-title">{{ servicio.nombre }}</h2><br>
          <p>{{ servicio.detalle }}</p>
        </div>
      </div>
      <!-- Add Pagination -->
      <div *ngIf="slideIndex > 0" class="swiper-button-prev swiper-button-white" (click)="previousSlide()"></div>
      <div *ngIf="slideIndex < _serviciosPrvdr.servicios.length-1" class="swiper-button-next swiper-button-white" (click)="nextSlide()"></div>
    </ion-slide>
  </ion-slides>
  <div class="floating-buttons pop-in">
    <button ion-button clear large full (click)="iraAsociados()">Ver Asociados</button>
  </div>
</ion-content>
