<!--
  Generated template for the ServicioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar no-shadow no-border color = "dark">
    <ion-title>
      Servicios
    </ion-title>
  </ion-navbar>

  <ion-toolbar no-shadow no-border color = "dark">
    <ion-segment [(ngModel)]="segmentCategoria" mode="md" (ionChange)="onSegmentChanged($event)"  color="light">
      <ion-segment-button *ngFor="let cat of _categoriasPrvdr.categorias" [value]="cat.id">
        {{cat.nombre}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list [virtualScroll]="_serviciosPrvdr.servicios" [approxItemHeight]="'80px'">
      <button ion-item *virtualItem="let servicios" (click)="iraAsociados(servicios)">
        <ion-thumbnail item-start class="custom-thumbnail">
        <ion-img  [src]="servicios.imagePath" class="custom-img" ></ion-img>
        <!-- <img [src]="servicios.imagePath" class="custom-img" [alt]="servicios.nombre"> -->
        <!-- <img-loader [src]="servicios.imagePath" useImg ></img-loader> -->
      </ion-thumbnail>
        <h2>{{servicios.nombre}}</h2>
      </button>
    </ion-list>
    <div *ngIf="_serviciosPrvdr.servicios.length <= 0" id="sindatos">
      próximamente te ofreceremos los mejores servicios.
    </div>
</ion-content>
<!--

 -->
