<!--
  Generated template for the DetallePagoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Detalle de pago</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form [formGroup]="myForm" (ngSubmit)="guardar()">
    <ion-card class="item-ribbon">
      <ion-card-header>
        {{ paquete.nombre }}
      </ion-card-header>
      <span class="ribbon {{ paquete.ribbon.estilo }}" *ngIf="paquete.ribbon">
        <span>{{ paquete.ribbon.text }}</span>
      </span>
      <ion-card-content>
        <!-- <h2><span ion-text color="color2">{{ paquete.nombre }}</span></h2> -->
        <p>
          {{ paquete.detalle }}
        </p>

        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <ion-card-title ion-text>
                sesiones {{ paquete.cantidadDeSesiones }}
              </ion-card-title>
            </ion-col>
            <ion-col col-6>
              <ion-card-title ion-text>
                {{ paquete.valor|currency:CONFIG.FORMATO_MONEDA:true: CONFIG.FORMATO_MONEDA_DECIMAL}}
              </ion-card-title>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-card-content>

    </ion-card>


    <ion-card>

      <div *ngIf="metodoPago=='tarjeta' || metodoPago=='mixto'">

        <ion-item-group>
          <ion-item-divider color="light">
            Tarjetas de crédito
            <div ion-button icon-only clear (click)="modalAgregar()" item-right>
              <ion-icon name="md-add"></ion-icon>
            </div>
          </ion-item-divider>
          <!-- <ion-list radio-group> -->
          <ion-list radio-group formControlName="tokenId">
            <ion-item *ngIf="_metodoPagoPrvdr.td.length == 0">
              <ion-label>Sin medio de pagos registrado ... </ion-label>
            </ion-item>

            <ion-item *ngFor="let card of _metodoPagoPrvdr.td">
              <ion-icon name="custom-{{ card.paymentMethod }}" item-left></ion-icon>
              <ion-label>{{ card.maskedNumber }}</ion-label>
              <ion-radio [value]="card.creditCardTokenId"></ion-radio>
            </ion-item>
          </ion-list>
        </ion-item-group>

        <ion-item-group *ngIf="myForm.controls.tokenId.valid">
          <ion-item-divider color="light">Coutas
            <ion-badge item-end>{{ myForm.controls.cuotas.value }}</ion-badge>
          </ion-item-divider>
          <ion-item>
            <ion-range min="1" max="12" pin="true" formControlName="cuotas">
              <ion-label range-left>1</ion-label>
              <ion-label range-right>12</ion-label>
            </ion-range>
          </ion-item>
        </ion-item-group>
      </div>



      <div *ngIf="metodoPago=='bolsa' || metodoPago=='mixto'">
        <ion-item-group>
          <ion-item-divider color="light">
            Cobro a saldo en bolsa
          </ion-item-divider>
        </ion-item-group>

        <ion-item-group>
          <ion-list>
            <ion-item>
              Saldo en bolsa
              <div item-end>
                {{ bolsa.saldo |currency:CONFIG.FORMATO_MONEDA:true: CONFIG.FORMATO_MONEDA_DECIMAL}}
              </div>
            </ion-item>
            <ion-item>
              Valor a descontar
              <div item-end>
                {{ bolsa.valorDescontar |currency:CONFIG.FORMATO_MONEDA:true: CONFIG.FORMATO_MONEDA_DECIMAL}}
              </div>
            </ion-item>
            <ion-item>
              Nuevo saldo en bolsa
              <div item-end>
                {{ bolsa.NuevoSaldo |currency:CONFIG.FORMATO_MONEDA:true: CONFIG.FORMATO_MONEDA_DECIMAL}}
              </div>
            </ion-item>
          </ion-list>
        </ion-item-group>

      </div>

      <div *ngIf="metodoPago=='tarjeta' || metodoPago=='mixto'">
        <ion-item-group>
          <ion-item-divider color="light">
            Cobro a Tarjetas de crédito
          </ion-item-divider>
        </ion-item-group>

        <ion-item-group>
          <ion-list>
            <ion-item>
              Valor
              <div item-end>
                {{ valorCobroTC |currency:CONFIG.FORMATO_MONEDA:true: CONFIG.FORMATO_MONEDA_DECIMAL}}
              </div>
            </ion-item>
          </ion-list>
        </ion-item-group>

      </div>

      <ion-row no-padding class="linea">
        <ion-col>
          <button ion-button icon-only large full [disabled]="!myForm.valid" type="submit">
          Pagar
        </button>
        </ion-col>
      </ion-row>

    </ion-card>
  </form>

</ion-content>
