page-asociados {
  rating{
    font-size: 0.8em;
    color: orange;
  }

  rating ul{
    padding-left: 0px;
    margin: 0px;
  }
  rating ul li{
  padding: 1px !important;
  }
  .insignia{
    color:purple;
    font-size: 1em;
  }

}
